<footer class="wp-block-template-part site-footer-wrapper">
<footer class="wp-block-group has-base-2-background-color has-background has-global-padding is-content-justification-center is-layout-constrained site-footer-group wp-block-group-is-layout-constrained" style="margin-top:0;margin-bottom:0;padding-top:30px;padding-right:var(--wp--preset--spacing--50);padding-bottom:30px;padding-left:var(--wp--preset--spacing--50)">
<div class="wp-block-group alignwide is-horizontal is-content-justification-space-between is-layout-flex site-footer-row wp-block-group-is-layout-flex" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
<div class="wp-block-group is-vertical is-content-justification-left is-layout-flex site-footer-col-left wp-block-group-is-layout-flex">
<nav class="has-small-font-size items-justified-right wp-block-navigation is-content-justification-right is-layout-flex site-footer-nav wp-block-navigation-is-layout-flex" aria-label="Footer navigation"><ul class="wp-block-navigation__container has-small-font-size items-justified-right wp-block-navigation has-small-font-size">
<li style="line-height:2;" class="has-small-font-size wp-block-navigation-item is-style-arrow-link wp-block-navigation-link"><a class="wp-block-navigation-item__content" href="https://discord.com/invite/w5qMNQQ5Qa"><span class="wp-block-navigation-item__label">Discord</span></a></li>
<li class="has-small-font-size wp-block-navigation-item is-style-arrow-link wp-block-navigation-link"><a class="wp-block-navigation-item__content" href="https://youtube.com/playlist?list=PL16v2o9BUIeJdtubjGGLjhV5ylreC8HKB&#038;si=Avci_vQo9zVwqOWD"><span class="wp-block-navigation-item__label">YouTube Playlist</span></a></li>
<li class="has-small-font-size wp-block-navigation-item is-style-default wp-block-navigation-link"><a class="wp-block-navigation-item__content" href="https://forms.office.com/Pages/ResponsePage.aspx?id=I_jVAoffJEG_VZ6SbhXyDdkRSPf27k9HmS8zaBsb0NhUMTVEMUQwSEI3WjBGSTlMMzJCNE5BMEZXSC4u"><span class="wp-block-navigation-item__label">Contact</span></a></li>
</ul></nav>


<p class="has-text-align-left has-contrast-2-color has-text-color has-link-color has-small-font-size wp-elements-fa8fea04176b55f9ab93872a1751026a">2023-2024 Sheldon Bois • Managed by <a href="https://cherryquartzio.us.kg/" data-type="link" data-id="cherryquartzio.us.kg">CherryQuartzio</a><br>Not an official <a href="http://minecraft.net/" data-type="link" data-id="minecraft.net">Minecraft</a> server</p>
</div>



<div class="wp-block-group is-vertical is-layout-flex site-footer-col-right wp-block-group-is-layout-flex">
<figure class="wp-block-image size-full is-resized"><img loading="lazy" decoding="async" width="160" height="160" src="/assets/images/Oak_Sign_JE3.webp" alt="" class="wp-image-138" style="width:82px" srcset="/assets/images/Oak_Sign_JE3.webp 160w, /assets/images/Oak_Sign_JE3-150x150.webp 150w" sizes="auto, (max-width: 160px) 100vw, 160px"></figure>
</div>
</div>
</footer>
</footer>
