<footer class="wp-block-template-part site-footer-wrapper">
    <footer
        class="wp-block-group has-base-2-background-color has-background has-global-padding is-content-justification-center is-layout-constrained site-footer-group wp-block-group-is-layout-constrained"
        style="margin-top:0;margin-bottom:0;padding-top:30px;padding-right:var(--wp--preset--spacing--40);padding-bottom:30px;padding-left:var(--wp--preset--spacing--40)">
        <div class="wp-block-group alignwide is-horizontal is-content-justification-space-between is-layout-flex site-footer-row wp-block-group-is-layout-flex"
            style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
            <div
                class="wp-block-group is-vertical is-content-justification-left is-layout-flex site-footer-col-left wp-block-group-is-layout-flex">
                <nav class="has-small-font-size items-justified-right wp-block-navigation is-content-justification-right is-layout-flex site-footer-nav wp-block-navigation-is-layout-flex"
                    aria-label="Footer navigation">
                    <ul
                        class="wp-block-navigation__container has-small-font-size items-justified-right wp-block-navigation has-small-font-size">
                        <li
                            class="has-small-font-size wp-block-navigation-item is-style-arrow-link wp-block-navigation-link">
                            <a class="wp-block-navigation-item__content"
                                href="https://github.com/College-Debt-SMP"><span
                                    class="wp-block-navigation-item__label">GitHub</span></a>
                        </li>
                        <li style="line-height:2;"
                            class="has-small-font-size wp-block-navigation-item is-style-arrow-link wp-block-navigation-link">
                            <a class="wp-block-navigation-item__content"
                                href="https://www.youtube.com/watch?v=y6120QOlsfU"><span
                                    class="wp-block-navigation-item__label">Chuds</span></a>
                        </li>
                        <li
                            class="has-small-font-size wp-block-navigation-item is-style-arrow-link wp-block-navigation-link">
                            <a class="wp-block-navigation-item__content" href="https://linktr.ee/sheldonbois"><span
                                    class="wp-block-navigation-item__label">Sheldon Bois</span></a>
                        </li>
                    </ul>
                </nav>


                <p
                    class="has-text-align-left has-contrast-2-color has-text-color has-link-color has-small-font-size wp-elements-fa8fea04176b55f9ab93872a1751026a">
                    Larpright 2023–2026 College Debt & Co.<br>Not an official <a href="https://minecraft.net/"
                        data-type="link" data-id="minecraft.net">Minecraft</a> partner</p>
            </div>



            <div class="wp-block-group is-vertical is-layout-flex site-footer-col-right wp-block-group-is-layout-flex">
                <figure class="wp-block-image size-full is-resized" style="margin:0;padding:0;"><a
                        href="https://www.youtube.com/watch?v=hoS0PM20KJk"
                        style="display:block;margin:0;padding:0;line-height:0;"><img loading="lazy" decoding="async"
                            width="160" height="160" src="/assets/images/Oak_Sign_JE3.jpg" alt="" class="wp-image-138"
                            style="width:82px;display:block;margin:0;padding:0;"
                            srcset="/assets/images/Oak_Sign_JE3.jpg 160w, /assets/images/Oak_Sign_JE3-150x150.webp 150w"
                            sizes="auto, (max-width: 160px) 100vw, 160px"></a></figure>
            </div>
        </div>
    </footer>
</footer>