<div class="wp-block-group is-layout-flow wp-block-group-is-layout-flow">
  <header class="wp-block-template-part">
    <link rel="stylesheet" href="/css/custom.css?v={{ site.time | date: '%s' }}">
    <div
      class="wp-block-group alignwide has-background has-global-padding is-layout-constrained site-header-group wp-block-group-is-layout-constrained"
      style="background-color:#f0efedc9;margin-top:0px;margin-bottom:0px;padding-top:20px;padding-right:var(--wp--preset--spacing--40);padding-bottom:20px;padding-left:var(--wp--preset--spacing--40)">
      <div
        class="wp-block-group alignwide is-content-justification-space-between is-layout-flex site-header-row wp-block-group-is-layout-flex"
        style="padding-right:0;padding-left:0">
        <div class="wp-block-site-logo"><a href="/" class="custom-logo-link" rel="home"><img width="200" height="46"
              src="/assets/images/collegedebt.svg" class="custom-logo"
              alt="College Debt SMP" decoding="async"></a></div>


        <div
          class="wp-block-group is-content-justification-left is-layout-flex site-header-nav-wrapper wp-block-group-is-layout-flex">
          <nav style="font-size: 20px;"
            class="is-responsive items-justified-right wp-block-navigation has-minecraft-font-family is-horizontal is-content-justification-right is-layout-flex site-header-nav wp-block-navigation-is-layout-flex"
            aria-label="Header Navigation" data-wp-interactive="core/navigation"
            data-wp-context='{"overlayOpenedBy":{"click":false,"hover":false,"focus":false},"type":"overlay","roleAttribute":"","ariaLabel":"Menu"}'>
            <button aria-haspopup="dialog" aria-label="Open menu"
              class="wp-block-navigation__responsive-container-open " data-wp-on-async--click="actions.openMenuOnClick"
              data-wp-on--keydown="actions.handleMenuKeydown"><svg width="24" height="24"
                xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
                <path d="M5 5v1.5h14V5H5zm0 7.8h14v-1.5H5v1.5zM5 19h14v-1.5H5V19z"></path>
              </svg></button>
            <div
              class="wp-block-navigation__responsive-container  has-text-color has-base-2-color has-background has-contrast-background-color"
              id="modal-1" data-wp-class--has-modal-open="state.isMenuOpen"
              data-wp-class--is-menu-open="state.isMenuOpen" data-wp-watch="callbacks.initMenu"
              data-wp-on--keydown="actions.handleMenuKeydown" data-wp-on-async--focusout="actions.handleMenuFocusout"
              tabindex="-1">
              <div class="wp-block-navigation__responsive-close" tabindex="-1">
                <div class="wp-block-navigation__responsive-dialog" data-wp-bind--aria-modal="state.ariaModal"
                  data-wp-bind--aria-label="state.ariaLabel" data-wp-bind--role="state.roleAttribute">
                  <button aria-label="Close menu" class="wp-block-navigation__responsive-container-close"
                    data-wp-on-async--click="actions.closeMenuOnClick"><svg xmlns="http://www.w3.org/2000/svg"
                      viewbox="0 0 24 24" width="24" height="24" aria-hidden="true" focusable="false">
                      <path
                        d="m13.06 12 6.47-6.47-1.06-1.06L12 10.94 5.53 4.47 4.47 5.53 10.94 12l-6.47 6.47 1.06 1.06L12 13.06l6.47 6.47 1.06-1.06L13.06 12Z">
                      </path>
                    </svg></button>
                  <div class="wp-block-navigation__responsive-container-content"
                    data-wp-watch="callbacks.focusFirstElement" id="modal-1-content">
                    <ul style="font-size:clamp(0.875rem, 0.875rem + ((1vw - 0.2rem) * 0.542), 1.2rem);"
                      class="wp-block-navigation__container is-responsive items-justified-right wp-block-navigation has-minecraft-font-family">
                      <li style="font-size: clamp(0.875rem, 0.875rem + ((1vw - 0.2rem) * 0.542), 1.2rem);"
                        class=" wp-block-navigation-item wp-block-navigation-link"><a
                          class="wp-block-navigation-item__content" href="/"><span
                            class="wp-block-navigation-item__label">Home</span></a></li>
                      <li style="font-size: clamp(0.875rem, 0.875rem + ((1vw - 0.2rem) * 0.542), 1.2rem);"
                        class=" wp-block-navigation-item is-style-default wp-block-navigation-link"><a
                          class="wp-block-navigation-item__content" href="https://wiki.collegedebt.app/"><span
                            class="wp-block-navigation-item__label">Wiki</span></a></li>
                      <li style="font-size: clamp(0.875rem, 0.875rem + ((1vw - 0.2rem) * 0.542), 1.2rem);"
                        class=" wp-block-navigation-item is-style-default wp-block-navigation-link"><a
                          class="wp-block-navigation-item__content" href="https://status.collegedebt.app/"><span
                            class="wp-block-navigation-item__label">Status</span></a></li>
                      <li style="font-size: clamp(0.875rem, 0.875rem + ((1vw - 0.2rem) * 0.542), 1.2rem);"
                        class=" wp-block-navigation-item wp-block-navigation-link"><a
                          class="wp-block-navigation-item__content" href="/about/"><span
                            class="wp-block-navigation-item__label">About</span></a></li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
</div>