---
layout: default
---
<main class="wp-block-group alignfull has-global-padding is-layout-constrained wp-block-group-is-layout-constrained" style="margin-top:0;margin-bottom:0;padding-top:60px;padding-right:var(--wp--preset--spacing--40);padding-bottom:60px;padding-left:var(--wp--preset--spacing--40)">
<h1 class="wp-block-heading alignwide has-body-font-family has-x-large-font-size" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--10);font-style:normal;font-weight:500;line-height:1">{{ page.title }}</h1>

<div class="wp-block-group alignwide has-global-padding is-layout-constrained wp-block-group-is-layout-constrained">
<div class="wp-block-query alignwide is-layout-flow wp-block-query-is-layout-flow">
{{ content }}
</div>
</div>
</main>
