---
layout: default
---
<main class="wp-block-group has-global-padding is-layout-constrained wp-block-group-is-layout-constrained">
    <div class="wp-block-group has-global-padding is-layout-constrained wp-block-group-is-layout-constrained">
        <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
        <h1 class="has-text-align-left wp-block-post-title has-xx-large-font-size has-minecraft-font-family">{{ page.title }}</h1>
        <div style="margin-top:0;margin-bottom:0;height:40px" aria-hidden="true" class="wp-block-spacer"></div>
    </div>
    <div class="entry-content wp-block-post-content has-global-padding is-layout-constrained wp-block-post-content-is-layout-constrained">
        {{ content }}
    </div>
</main>
